body{
    padding-top: 20px;
}
.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.sproduct input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}


.sproduct input:focus {
    outline: none;
}

.buy-btn {
    background: #fb774b;
    opacity: 1;
    transition: 0.3s all;
}

.product {
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img {
    transition: 0.3s all;
}

.product:hover img {
    opacity: 0.7;
}

.product .buy-btn {
    background: #fb774b;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .buy-btn {
    transform: translateY(0);
    opacity: 1;
}

#banner {
    background-image: url("img/banner/2.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner h4 {
    color: #D8D8D8;
}

#banner h1 {
    color: #fff;
}

#banner button {
    background-color: #fb774b;
}

.container.logo{
    gap: 0rem;
}

.form-control{
    border-radius: 1rem;
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
}


@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}
}