body{
    padding-top: 20px;
}
.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.sproduct input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.sproduct input:focus {
    outline: none;
}

.buy-btn {
    background: #fb774b;
    opacity: 1;
    transition: 0.3s all;
}

.product {
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img {
    transition: 0.3s all;
}

.product:hover img {
    opacity: 0.7;
}

.product .buy-btn {
    background: #fb774b;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .buy-btn {
    transform: translateY(0);
    opacity: 1;
}

#banner {
    background-image: url("img/banner/2.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner h4 {
    color: #D8D8D8;
}

#banner h1 {
    color: #fff;
}

#banner button {
    background-color: #fb774b;
}


.form-control {
    height: calc(2);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}