@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    font-weight: 800;
}

h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}

h6 {
    color: #D8D8D8;
}

button:hover {
    background-color: #3a3833;
}

hr {
    width: 30px;
    height: 2px;
    background-color: #fb774b;
}

.navbar {
    font-size: 16px;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link {
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active {
    color: coral;
}

.navbar i {
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}


.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
}

.dropdown .dropdown-menu{
    display: none;
}

.dropdown-item:hover {
    color: coral;
    text-decoration: none;
    background-color: #f8f9fa;
}

button:hover {
    background-color: orange;
}

@media only screen and (min-width: 960px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
  .dropdown .dropdown-menu {
    display: none;
  }
  .dropdown:hover .dropdown-toggle::after {
    border-bottom: 0.3em solid;
    border-top: 0;
  }
}
@media screen and (max-width: 992px) {
  .dropdown-toggle.show::after {
    border-top: 0;
    border-bottom: 0.3em solid;
  }
  .dropdown .dropdown-menu{
    display: none;
  }
  .dropdown:hover .dropdown-toggle::after{
    border-top: 0;
    border-bottom: .3em solid;
  }
}

@media screen and (max-width: 992px){
  .dropdown-toggle.show::after{
    border-top: 0;
    border-bottom: 0.3em solid;
  }
}

@media  screen and (max-width: 300px) {
    #video{
        margin-top: 0;
    }
}
.pb-5, .py-5 {
    padding-bottom: 0;
}

.home-content {
    min-height: 640px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
  }


  /* Mobile Nav */
.navbar-light .navbar-toggler {
    border: none;
    outline: none;
}

#bar {
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
    color: black;
}

#bar:hover,
#bar.active {
    color: #fff;
}
@media only screen and (min-width: 1230px) {
    #video{margin-top: 100px;}

}

/* @media only screen and (max-width: 1200px) {
    #video{margin-top: 10px;}

} */

@media only screen and (min-width: 600px) {
    #video{margin-top: 100px;}

}

@media only screen and (max-width: 550px) {

    #video{
        margin-top: 100px;}

}

@media only screen and (max-width: 960px) {
    #video{margin-top: 100px}
}
@media only screen and (max-width: 991px) {
    body>nav>div>button:hover,
    body>nav>div>button:focus {
        background-color: #fb774b;
    }
    body>nav>div>button:hover #bar,
    body>nav>div>button:focus #bar {
        color: #fff;
    }
    #navbarSupportedContent>ul {
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right
    }
    #navbarSupportedContent>ul>li:nth-child(n)>a {
        padding: 10px 0;
    }


}

.home-img img{
    max-width: 100%;
    height: 300px;
    transition: .1s;
    
} 
#home {
    background-image: url("backgroundImage/main2.jpg"); /*!!added banner for homepage but doesnt work*/
    width: 100%;
    /* height: 100vh; */
    background-size: cover;
    background-position: top 60px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#home span {
    color: coral;
}

#new .one img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#new .one .details {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;
}

#new .one:hover .details {
    cursor: pointer;
    background-color: rgba(100, 148, 237, 0.7);
}

#new .one .details button {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    background: none;
    text-transform: uppercase;
    border-bottom: 1px solid #2a2a2a;
    padding: 2.5px;
    transform: translateY(70px);
    transition: 0.3s ease;
}

#new .one .details button:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

#new .one:nth-child(1) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

#new .one:nth-child(2) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(3) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.form-control{

    height: calc(2);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
    
}


/*footer*/
footer {
    background-color: #222222;
}

footer h5 {
    color: #D8D8D8;
    font-weight: 700;
    font-size: 1.2rem;
}

footer li {
    padding-bottom: 4px;
}

footer li a {
    font-size: 0.8rem;
    color: #999;
}

footer li a:hover {
    color: #D8D8D8;
}

footer p {
    color: #999;
    font-size: 0.8rem;
}

footer .copyright a {
    color: #000;
    width: 38px;
    height: 38px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
}

footer .copyright a:hover {
    color: #fff;
    background-color: #fb774b;
}

.container-promotion{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.videoPromotion{
    min-width: 100%;
    max-height: 1000px;
}

.fal.fa-shopping-bag{
    padding-top: 9px;

}
.nav-item.search{
    padding-top: 8px;

}
.fal.fa-search{
    padding-top: 10px;
   
}

.nav-item{
    padding-top: 15px;
}

.buy-btn{
    border-radius: 1.5rem;
    background-color: #fa8039;
    padding: 7px;
    border-color: white;
    color: white;
}

.buy-btn:hover{
    background-color: oldlace;
    color:#fa8039;
}

.img-fluid {
    max-width: 100%;
    height: 264.66px;
}

/*img-area* = container*/
.img-area{
    color: #fff;
    position: relative;
}


.img-text, 
.img-area:after{
    width: 100%;
    position: absolute;
    left: 0;

}

.img-area:after{
    content: '';
    height: 100%;
    top: 0;
    transition: .5s;

}

.img-area:hover:after{
    background: linear-gradient(to bottom, rgba(233, 136, 1, 0.1) 0, rgba(233, 136, 1, 0.25) 25%, rgba(233, 136, 1, 0.1) 50%, rgba(233, 136, 1, .75) 75%, rgba(233, 136, 1,.95) 100%);
    
}

.img-text{
    padding: 20px;
    margin-bottom: 20px;
    bottom: 0;
    z-index: 1;
    transform: translateY(145px);
    transition: all .5s cubic-bezier(.13, .62, .81, .91) 0s;
    opacity: 0;
}

.img-area:hover .img-text{
    transform: translateY(0);
    opacity: 1;
}


.text-uppercase.shop {
    border-radius: 1rem;
    background-color: rgb(255 115 45);
    padding: 6px;
    border-color: white;
    color: white;
    
}

.text-uppercase.shop:hover{
    background-color: oldlace;
    color: #fa8039;
}
button:hover {
    background-color: #ffb376;
    
}




/*footer*/
footer {
  background-color: #222222;
}

footer h5 {
  color: #D8D8D8;
  font-weight: 700;
  font-size: 1.2rem;
}

footer li {
  padding-bottom: 4px;
}

footer li a {
  font-size: 0.8rem;
  color: #999;
}

footer li a:hover {
  color: #D8D8D8;
}

footer p {
  color: #999;
  font-size: 0.8rem;
}

footer .copyright a {
  color: #000;
  width: 38px;
  height: 38px;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px;
}

footer .copyright a:hover {
  color: #fff;
  background-color: #fb774b;
}

.mt-5, .my-5 {
    margin-top: -3rem!important;
}

.mb-5, .my-5 {
    margin-bottom: 8rem!important;
}

.rights{
    margin-top: 10px; 
    padding-right: 0px;
}

.footer-one.col-lg-3.col-md-6.col-12.mb-3.menu{
    padding-left: 20px;
}

.footer-newsletter{
  display:flex;
  min-width:300px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-newsletter > input {
  background-color: white;
  border: 2px solid white;
  width: 65%;
  padding: 0.5rem;
  margin-right:0.3rem;
}

.footer-newsletter > button {
  color: white;
  width: 20%;
  background-color: transparent;
  border:2px solid rgba(233, 136, 1,.95);
  padding:0.5rem;
  cursor:pointer;
  transition: all 0.2s ease-in;
}

.footer-newsletter > button:hover{
  background-color:rgba(233, 136, 1,.95);
}

